---
import { siteConfig } from '@/data/site.config'
import VkIcon from './icons/VkIcon.astro'
import TelegramIcon from './icons/TelegramIcon.astro'

const message = siteConfig.shareMessage
const URL = Astro.url.href
---

<div class='flex flex-col gap-2'>
	<span class='mb-1 font-bold text-2xl'>Поделиться</span>
	<ul class='flex gap-3 text-black dark:text-white'>
		<li>
			<a
				href={`https://vk.com/share.php?url=${URL}`}
				target='_blank'
				rel='noopener noreferrer'
				aria-label='Share on VK'
			>
				<VkIcon />
			</a>
		</li>
		<li>
			<a
				href={`https://t.me/share/url?url=${URL}&text=${encodeURIComponent(message)}`}
				target='_blank'
				rel='noopener noreferrer'
				aria-label='Share on Telegram'
			>
				<TelegramIcon />
			</a>
		</li>
	</ul>
</div>
